
/* ESTILO DE TABLETS */
@media (min-width:600px){
    section{
        display:grid;
        grid-template-columns: repeat(2, 1fr);
        width: 100%;
    }
    #fotos{
        margin-top:50px;
        margin-left: 25px;
    }
    #fotos > img{
        width: 350px;
        height: 250px;
    }
    #desc{
        margin-top:75px;
        margin-left: 50px;
    }
    #desc > h1{
        font-size: 20pt;
        margin-bottom: -5px;
    }
    #desc > div{
        margin-right: 15px;
    }
}

/* ESTILO DE ORDENADOR */
@media (min-width:1200px){
    #fotos > img{
        width: 650px;
        height: 500px;
    }
}